* {
    box-sizing: border-box;
}

.profile {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    outline: 2px solid #E4EAF0;
    border-radius: 5px;
}

.description {
    text-align: center;
    padding: 20px 0;
}

.avatar {
    max-width: 100px;
    max-height: auto;
    border-radius: 50%;
}

.username {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}

.tag {
    margin: 0;
    margin-bottom: 10px;
    color: #ABB4BD;

}

.location {
    margin: 0;
    color: #ABB4BD;
}

.stats {
    display: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;


}

.stats li {
    display: inherit;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    width: calc(100% / 3);
    border-top: 1px solid #ECF0F5;
    gap: 5px;

    background-color: #F3F6F9;
}

.stats li:not(:last-child) {
    border-right: 2px solid #ECF0F5;
}

.label {
    color: #8896A4;
}

.quantity {
    font-weight: 800;
}