.item {
    display: flex;
    align-items: center;
    gap: 10px;
    /* доп-стили */
    max-width: 300px;
    padding: 10px;
    box-shadow: 0 1px 4px rgb(0 0 0), -23px 0 20px -23px rgb(0 0 0 / 80%), 23px 0 20px -23px rgb(0 0 0 / 80%), 0 0 40px rgb(0 0 0 / 10%) inset;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #49B04C;
}

.noOnline {

    background-color: #FB554D;

}

.name {
    font-weight: bold;
}